<div id="container" class="ui vertically divided page grid">
  <div class= "one column row">
    <div id="header-region" class="column"></div>
  </div>
  <div class="one column row">
    <div id="main-region" class="column">
      Loading...
    </div>
  </div>
  <div id="push"></div>
</div>


<div id="footer" class="ui one column page grid">
    <div id="footer-region" class="column"></div>
  </div>
</div> 
<%= javascript_tag do %>
  $(function() {
    Mooclite.start({
      environment: "<%= Rails.env %>"
    });
  });
<% end %>
